<p id="notice"><%= notice %></p>

<p>
  <strong>Notes:</strong>
  <%= @dive_service_member_gear.notes %>
</p>

<%= link_to 'Edit', edit_dive_service_member_gear_path(@dive_service_member_gear) %> |
<%= link_to 'Back', dive_service_member_gears_path %>
