<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @gear_size.description %>
</p>

<%= link_to 'Edit', edit_gear_size_path(@gear_size) %> |
<%= link_to 'Back', gear_sizes_path %>
